@import url('./common.css');

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(../font/material-symbols-outlined.woff2) format('woff2');
}

.material-symbols {
	font-family: 'Material Symbols Outlined';
}
