@import url('./common.css');

@font-face {
	font-family: 'Material Symbols Sharp';
	font-style: normal;
	src: url(../font/material-symbols-sharp.woff2) format('woff2');
}

.material-symbols {
	font-family: 'Material Symbols Sharp';
}
