@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(./font/MaterialSymbolsOutlined.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  src: url(./font/MaterialSymbolsRounded.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  src: url(./font/MaterialSymbolsSharp.woff2) format("woff2");
}

.material-symbols {
  user-select: none;
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
}
